<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ticket Queue</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
    </head>
    <body>
        
        <header class="header">
            <div class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Ticket Queue</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="/dashboard">Home</a>
                        </li>
                        <li>
                            <a href="/dashboard/queues">
                                Queues
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/logout">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <section class="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </section>
        
        <section class="content-header">
            {% block header %}{% endblock %}
        </section>

        <!-- Main content -->
        <section class="content">
            {% block content %}{% endblock %}
        </section><!-- /.content -->

        <footer style="background-color: #f0f0f0; min-height: 200px; margin-top: 100px; padding-top: 20px; text-align: right">
            <div class="container">
                &copy; 2014 <a href="http://www.linkorb.com/engineering" target="_blank">LinkORB Engineering</a>
            </div>
        </footer>

        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    </body>
</html>
