{% extends "@App/layout.html.twig" %}

{% block content %}
    <div class="container">
        <img src="{{ user.getAvatarUrl() }}" style="float: right;" />
        <h1>Welcome {{ user.getDisplayName() }}!</h1>
        <p>User ID: {{ user.getId() }}</p>
    </div>
{% endblock %}
