{% extends "@App/layout.html.twig" %}

{% block content %}
    <div class="container">
        <ul>
        {% for queue in queues %}
            <li><a href="/queues/{{ queue.getKey() }}">{{ queue.getName() }}</a> ({{ queue.getOpenCount() }})</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
